<nav _ngcontent-gbi-c2="" class="full-nav" id="navbarAuth" style="background: #fff;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
padding-top: 25px;
padding-bottom: 25px;">

  <div _ngcontent-gbi-c2="" class="wrapper wrapper--navigation">
    <div _ngcontent-gbi-c2="" class="menu"><a _ngcontent-gbi-c2="" class="pointer">
        <!----><img _ngcontent-gbi-c2="" class="menu__logo ng-star-inserted" id="navbarAuthLogoLeft"
          alt="LOGO.backToLogin" width="157" src="assets/logo-GiGroup-color.svg"></a>
      <button _ngcontent-ocv-c2="" mat-button="" class="mat-button ng-star-inserted" tabindex="0"
        id="NAVBAR.home">HOME</button>
        <button mat-button [matMenuTriggerFor]="yourprofilemenu">
          YOUR PROFILE
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #yourprofilemenu="matMenu" yPosition="above">
          <button mat-menu-item>YOUR PROFILE Item 1</button>
          <button mat-menu-item>YOUR PROFILE Item 2</button>
        </mat-menu>
      <button mat-button [matMenuTriggerFor]="aboveMenu">
        FIND WORK
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>


    <div _ngcontent-gbi-c2="" class="menu menu--right">
      <div _ngcontent-gbi-c2="">

        <!---->
        <!---->
        <img _ngcontent-ocv-c2="" alt="'LOGO.secondary' | translate" class="marginTop10 ng-star-inserted"
          id="navbarLogoRight" width="116px" src="assets/group-logo.png">
        <button _ngcontent-ocv-c2="" id="navbarBtnLogout" mat-button="" class="mat-button" aria-label="Logout"><span
            class="mat-button-wrapper">
            <mat-icon _ngcontent-ocv-c2="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
              aria-hidden="true">power_settings_new</mat-icon>
          </span>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
      </div>
    </div>
  </div>
</nav>
<div class="main_container_app_component mat-typography" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <router-outlet></router-outlet>
</div>