.hero {
    background-color: #005E83;
    padding-top: 56px;
    padding-bottom: 56px;
}

.mat-raised-button {
    text-transform: uppercase;
    box-shadow: none !important;
    font-weight: 800;
    background-color: #FFFFFF;
    color: #005E83;
}