<div class="example__row">
    <div class="hero">
        <div class="columns" style="margin: 0 auto; width: 80%;">
            <div class="column is-half">
                <img _ngcontent-ocv-c7="" alt="" src="assets/logo-myGiGroup-white.svg" class="ng-star-inserted">
                <div fxFlex="1 1" fxFlex.lt-sm="100%">
                    <h1 style="color: white;">Hi, {{email}}</h1>
                </div>
                <div fxFlex="1 1" fxFlex.lt-sm="100%">
                    <button _ngcontent-ocv-c7="" id="notificationButton" mat-raised-button=""
                        class="mat-raised-button"><span class="mat-button-wrapper"> &nbsp;<mat-icon _ngcontent-ocv-c7=""
                                class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                aria-hidden="true">
                                email</mat-icon>&nbsp;&nbsp; <span _ngcontent-ocv-c7="">0 Messages</span></span>
                        <div class="mat-button-ripple mat-ripple" matripple="">
                            <div class="mat-ripple-element"
                                style="left: -2.21408px; top: -70.7228px; height: 181.267px; width: 181.267px; transition-duration: 400ms; transform: scale(1); opacity: 0;">
                            </div>
                        </div>
                        <div class="mat-button-focus-overlay"></div>
                    </button>

                </div>
                <div fxFlex="1 1" fxFlex.lt-sm="100%">
                    <!-- <div id="container" style="height: 200px;background-color: transparent;"></div> -->
                </div>
            </div>
            <div class="column is-half">
                <!---->
                <div _ngcontent-ocv-c7="" class="ng-star-inserted">
                    <p _ngcontent-ocv-c7="" id="pSuggestionHome"><strong _ngcontent-ocv-c7="" style="color: white;">The
                            tips at the bottom
                            will
                            help YOU to better complete your profile.</strong></p>
                </div>
                <!---->
                <mat-card _ngcontent-ocv-c7="" class="mat-card ng-star-inserted">
                    <mat-list _ngcontent-ocv-c7="" class="mat-list mat-list-base">
                        <!---->
                        <!---->
                        <mat-list-item _ngcontent-ocv-c7="" class="pointer mat-list-item ng-star-inserted"
                            id="home.yourdocuments">
                            <div class="mat-list-item-content">
                                <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
                                <div class="mat-list-text"></div>
                                <!---->
                                <!----><img _ngcontent-ocv-c7="" alt="" height="30" src="assets/pencil.png"
                                    class="ng-star-inserted imgmatitem">
                                <div _ngcontent-ocv-c7="" class="label"><span _ngcontent-ocv-c7="" class="caption">Your
                                        CV
                                        and Documents</span>
                                    <!---->
                                    <h5 _ngcontent-ocv-c7="" class="ng-star-inserted">Upload your CV and other
                                        documents
                                    </h5>
                                    <!---->
                                </div>
                                <mat-icon _ngcontent-ocv-c7=""
                                    class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">keyboard_arrow_right</mat-icon>
                            </div>
                        </mat-list-item>
                        <!---->
                        <mat-divider _ngcontent-ocv-c7="" class="mat-divider mat-divider-horizontal ng-star-inserted"
                            role="separator" aria-orientation="horizontal"></mat-divider>
                        <!---->
                        <!---->
                        <mat-list-item _ngcontent-ocv-c7="" class="pointer mat-list-item ng-star-inserted"
                            id="suggestions.yourprofileTitle">
                            <div class="mat-list-item-content">
                                <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
                                <div class="mat-list-text"></div>
                                <!---->
                                <!----><img _ngcontent-ocv-c7="" alt="" height="30" src="assets/user.png"
                                    class="ng-star-inserted imgmatitem">
                                <div _ngcontent-ocv-c7="" class="label"><span _ngcontent-ocv-c7="" class="caption">Your
                                        profile</span>
                                    <!---->
                                    <h5 _ngcontent-ocv-c7="" class="ng-star-inserted">Update your personal
                                        information
                                    </h5>
                                    <!---->
                                </div>
                                <mat-icon _ngcontent-ocv-c7=""
                                    class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">keyboard_arrow_right</mat-icon>
                            </div>
                        </mat-list-item>
                        <!---->
                        <mat-divider _ngcontent-ocv-c7="" class="mat-divider mat-divider-horizontal ng-star-inserted"
                            role="separator" aria-orientation="horizontal"></mat-divider>
                        <!---->
                        <!---->
                        <mat-list-item _ngcontent-ocv-c7="" class="pointer mat-list-item ng-star-inserted"
                            id="suggestions.yourcvTitle">
                            <div class="mat-list-item-content">
                                <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
                                <div class="mat-list-text"></div>
                                <!---->
                                <!----><img _ngcontent-ocv-c7="" alt="" height="30" src="assets/pencil.png"
                                    class="ng-star-inserted imgmatitem">
                                <div _ngcontent-ocv-c7="" class="label"><span _ngcontent-ocv-c7=""
                                        class="caption">Professional profile</span>
                                    <!---->
                                    <h5 _ngcontent-ocv-c7="" class="ng-star-inserted">Add work experience</h5>
                                    <!---->
                                </div>
                                <mat-icon _ngcontent-ocv-c7=""
                                    class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">keyboard_arrow_right</mat-icon>
                            </div>
                        </mat-list-item>
                        <!---->
                        <!---->
                    </mat-list>
                </mat-card>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br />

<div _ngcontent-xko-c7="" class="example__row wrapper space-bottom" fxlayout="row wrap"
    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
    <!---->
    <div _ngcontent-xko-c7="" fxflex="100" class="ng-star-inserted"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
        <!---->
            <div _ngcontent-xko-c15="" class="example__row padding-around">
                <h2 _ngcontent-xko-c15=""> SUGGESTED VACANCIES <mat-icon _ngcontent-xko-c15=""
                        class="pointer mat-icon notranslate material-icons mat-icon-no-color"
                        id="suggestedOffersInfoDialog" role="img" aria-hidden="true"> info_outline</mat-icon>
                </h2>
                <!---->
                <p _ngcontent-xko-c15="" class="ng-star-inserted"> Want to find the best offers for your profile?
                    Complete your preferences.</p>
                <!---->
                <!---->
                <!---->
            </div>
    </div>
    <div _ngcontent-xko-c7="" fxflex="100" class="ng-star-inserted"
        style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
        <!---->
            <div _ngcontent-xko-c17="" class="example__row padding-around">
                <h2 _ngcontent-xko-c17="">NEWS AND EVENTS</h2>
                <!---->
                <p _ngcontent-xko-c17="" class="ng-star-inserted">No news</p>
                <!---->
            </div>
    </div>
</div>
<br /><br />

<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>
</div>
<br />
<div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<!-- <h3>
    Edit events
    <button class="btn btn-primary float-right" (click)="addEvent()">
        Add new
    </button>
    <div class="clearfix"></div>
</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Primary color</th>
                <th>Secondary color</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
                </td>
                <td>
                    <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
                </td>
                <td>
                    <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                        (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true"
                        [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                        (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true"
                        [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteEvent(event)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->
<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Teams Meeting</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div> -->
        <div>
            Meeting Start:
            <pre>{{ modalData?.event.start|date }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="nextMeeting()">
            Go To Meeting
        </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            Cancel
        </button>
    </div>
</ng-template>